.recipe.panel.panel-success
  .panel-heading
    %h3.panel-title
      = link_to "#{recipe.title}", recipe_path(recipe)
  .panel-body  
    %img{ alt: recipe.title, src: recipe.preview_image_url(:thumb) }
    %br
    %span.label.label-success
      Рейтинг
    = recipe.rating
    %br
    %span.label.label-success
      Автор
    - if recipe.user == current_user
      = link_to "#{recipe.user.email}", user_profiles_path
    -else
      = link_to "#{recipe.user.email}", user_profile_path(recipe.user.id)
