.recipe
  = link_to "#{recipe.title}", recipe_path(recipe.id)
  %p= recipe.description
  %p 
    Рейтинг
    = recipe.rating
  %p 
    Автор:
    - user = User.find(recipe.user_id)
    - if user == current_user
      =link_to "#{user.email}", user_profiles_path
    -else
      =link_to "#{user.email}", user_profile_path(user.id)
