.recipe
  = link_to "#{recipe.title}", recipe_path(recipe.id)
  %br
  %img{ alt: recipe.title, src: recipe.preview_image_url(:thumb) }
  %p 
    Рейтинг
    = recipe.rating
  %p 
    Автор:
    - if recipe.user == current_user
      = link_to "#{recipe.user.email}", user_profiles_path
    -else
      = link_to "#{recipe.user.email}", user_profile_path(recipe.user.id)
