.h2#title_recipe
  = @recipe.title
    
%p Превьюшка рецепта
%br

.ingredients
- @recipe.ingredients.each do |ingredient|
  = ingredient.name
  = ingredient.measure
  %br

.recipe_description
  = @recipe.description
- if current_user
  .links
    - if current_user.author_of?(@recipe) && @recipe.draft?
      = link_to 'Отправить на модерацию', recipe_send_to_moderation_path(@recipe), method: :post, remote: true
      = link_to 'Редактировать', edit_recipe_path(@recipe)
      = link_to 'Удалить', recipe_path(@recipe), method: :delete, data: { confirm: 'Вы уверены?' } 
      %br
      .comments
        - @recipe.comments.each do |comment|
          %p= comment.body
          %br
    - if current_user.author_of?(@recipe) && @recipe.moderation?
      %p На модерации
    - if current_user.author_of?(@recipe) && @recipe.published?
      %p Опубликован

  - if current_user.admin && @recipe.moderation?
    .admin_comments_panel
      .new_comment
        = form_for :comment, url: recipe_send_to_draft_path(@recipe), remote: true do |f|
          = f.label :body
          = f.text_area :body
          = f.submit 'Вернуть рецепт на доработку'
      = link_to 'Опубликовать рецепт', recipe_send_to_publish_path(@recipe), method: :post
