%html
  %head
    %meta{ content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
    %title= content_for?(:title) ? yield(:title) : "CookBook"
    = Gon::Base.render_data
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  %body
    %nav.navbar.navbar-inverse
      .container-fliud
        .navbar-header
          %button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
          %a.navbar-brand{ href: root_path } CookBook

        .navbar-collapse.collapse#bs-example-navbar-collapse-2
          %ul.nav.navbar-nav
            - if user_signed_in? 
              %li= link_to 'Sign out', destroy_user_session_path, method: :delete
              %li= link_to 'Profile', user_profiles_path
              - if current_user.admin
                %li= link_to 'Admin panel', admin_index_path
            -else
              %li= link_to 'Sign in', new_user_session_path
          = form_tag search_path, method: :get, class: 'navbar-form navbar-left' do
            = select_tag :search_type, options_for_select(Search::TYPES), id: 'search_type', class: 'selectpicker form-control'
            .form-group
              = text_field :search, nil, type: 'search', id: 'search', class: 'form-control'
            = button_tag 'Искать', class: 'btn btn-default', type: 'submit'
          - if can?(:create, Recipe)
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to 'Создать рецепт', new_recipe_path
    .container
      = bootstrap_flash
      = yield
